In [2]:
# coding: utf-8
import numpy as np
import pandas as pd
# 全部行都能输出

In [44]:
table_target = pd.read_csv(
    "../data/data/trainingset/orderFuture_train.csv", sep=",", encoding="UTF-8")  # 读取目标属性表
user_info = pd.read_csv("../data/data/trainingset/userProfile_train.csv",
                        sep=",", encoding="UTF-8")  # 读取用户基本属性表
order_info = pd.read_csv(
    "../data/data/trainingset/orderHistory_train.csv", sep=",", encoding="UTF-8")  # 读取历史订单数据表

In [23]:
# 没有使用action_info
# user_com = pd.read_csv("../data/data/trainingset/userComment_train.csv",sep=',',encoding="UTF-8")


# user_info = pd.read_csv("../data/data/test/userProfile_test.csv",
#                         sep=",", encoding="UTF-8")  # 读取用户基本属性表
# order_info = pd.read_csv(
#     "../data/data/test/orderHistory_test.csv", sep=",", encoding="UTF-8")  # 读取历史订单数据表

In [45]:
order_info["orderTime"] = pd.to_datetime(order_info["orderTime"], unit="s")

# ## 一、数据探索
# ### 1. 用户基本属性表
# #### 1.1 数据转换
# 原始数据需要经过转换才能符合建模需求，例如：生成新字段、重新分类、变换哑变量、去除重复数据、过滤极端\异常值、填补缺失值、变量聚类、离散化等

# In[47]:

user_info = user_info.fillna("未知")  # 空值填补

In [46]:
order_info.dtypes

userid                int64
orderid               int64
orderTime    datetime64[ns]
orderType             int64
city                 object
country              object
continent            object
dtype: object

In [47]:
# #### 1.2 数据探索
# 除了describe计算基本统计量外，还需要探索目标变量和自变量以及自变量之间的关系，以决定哪些变量入选模型，这种数据探索往往结合图形来说明。

# 常用的绘图包包括matplotlib、seaborn等

user_orderType = user_info.merge(table_target, on="userid", how="left")
# 合并

gender_orderType = user_orderType.groupby("gender", as_index=False)[
    "orderType"].agg({"总数": np.size, "精品订单数": np.sum})
gender_orderType["精品订单率"] = gender_orderType["精品订单数"] / \
    gender_orderType["总数"]
gender_orderType.head()

# In[62]:

province_orderType = user_orderType.groupby("province", as_index=False)[
    "orderType"].agg({"总数": np.size, "精品订单数": np.sum})
province_orderType["精品订单率"] = province_orderType["精品订单数"] / \
    province_orderType["总数"]
province_orderType.sort_values(by="精品订单数", ascending=False)

# In[63]:

age_orderType = user_orderType.groupby("age", as_index=False)[
    "orderType"].agg({"总数": np.size, "精品订单数": np.sum})
age_orderType["精品订单率"] = age_orderType["精品订单数"] / age_orderType["总数"]
age_orderType.sort_values(by="精品订单率", ascending=False)

# ## 筛选变量
# 筛选变量时可以应用专业知识，选取与目标字段相关性较高的字段用于建模，也可通过分析现有数据，用统计量辅助选择
# 为了增强模型稳定性，自变量之间最好相互独立，可运用统计方法选择要排除的变量或进行变量聚类


def type_count(df, type, args):
    count = len(df[df.loc[:, args] == type])
    return count


type1_amount = order_info.groupby("userid").apply(
    type_count, 1, args="orderType")  # 精品订单个数
type0_amount = order_info.groupby("userid").apply(
    type_count, 0, args="orderType")  # 普通订单个数

# In[68]:

type1_amount = pd.DataFrame(type1_amount)
type0_amount = pd.DataFrame(type0_amount)
type1_amount.columns = ["F2.3"]
type0_amount.columns = ["F2.0"]
# 列名

# 订单总数
df1 = type1_amount.merge(type0_amount, on="userid", how="left")
df1["F2.1"] = df1["F2.3"] + df1["F2.0"]

# 删除无用的列
df1 = df1.drop("F2.0", 1)
df1 = df1.drop("F2.3", 1)


def type_count(df, type, args):
    count = len(df[df.loc[:, args] == type])
    return count


type1_exist = order_info.groupby("userid").apply(
    type_count, 1, args="orderType")
type1_exist[type1_exist > 0] = 1
type1_exist = pd.DataFrame(type1_exist)
type1_exist.columns = ["F2.2"]

feature = df1.merge(type1_exist, on="userid", how="left")
feature = feature.merge(type1_amount, on="userid", how="left")

In [108]:
feature.head()

              F2.1  F2.2  F2.3
userid
100000000013     2     0     0
100000000393     1     0     0
100000000459     2     0     0
100000000637     1     0     0
100000000695     1     0     0

In [49]:
# 计算时间间隔
time_gap_max = order_info.groupby("userid")["orderTime"].max()
time_gap_min = order_info.groupby("userid")["orderTime"].min()
time_gap_max = pd.DataFrame(time_gap_max)
time_gap_min = pd.DataFrame(time_gap_min)
time_gap = time_gap_max.merge(time_gap_min, on="userid", how="left")

In [50]:
time_gap.dtypes

orderTime_x    datetime64[ns]
orderTime_y    datetime64[ns]
dtype: object

In [51]:
(time_gap["orderTime_x"] -time_gap["orderTime_y"]) / feature["F2.1"]

userid
100000000013    10122563500000000
100000000393                    0
100000000459      727472500000000
100000000637                    0
100000000695                    0
100000000949      257783333333333
100000000975                    0
100000001023     1117524500000000
100000001231                    0
100000001295                    0
100000001505       87500600000000
100000001955         475000000000
100000002371     1128062750000000
100000003097                    0
100000003461                    0
100000003639     3928866000000000
100000003805                    0
100000004277                    0
100000004297                    0
100000004317                    0
100000005007     3188870000000000
100000006981     1015559666666666
100000008119     1075206500000000
100000008425     8300619000000000
100000008995                    0
100000009017     1731128333333333
100000009463                    0
100000009611      219126000000000
100000009773                    0
100000009925       15132666666666
                      ...
114865253440      170273000000000
114865267347                    0
114865267440      740928000000000
114865267940       63787750000000
114865269647                    0
114865467046                    0
114865469143                    0
114865567341                    0
114865667341                    0
114865767143         155000000000
114865767541      320023500000000
114865967248      208081500000000
114865967640                    0
114868167149                    0
114868267044                    0
114868367141                    0
114868467944                    0
114868567449                    0
114868667644      175363500000000
114868867348                    0
114868867947                    0
114869067247       41492250000000
114869067441                    0
114869067447         198000000000
114869267443                    0
114869467148                    0
114869652742                    0
114869867143                    0
114869969842                    0
114999280232      886681333333333
Length: 10637, dtype: object

In [ ]:
# feature["F2.17"] = (time_gap["orderTime_x"] -
#                     time_gap["orderTime_y"]) / feature["F2.1"]

In [53]:
f21 = pd.DataFrame(feature.loc[time_gap.index]["F2.1"])
f217 = (time_gap["orderTime_x"] -
        time_gap["orderTime_y"]) / f21["F2.1"]

# f217 = pd.DataFrame(f217)
# f217[0] = f217[0].values / np.timedelta64(1, 'ns')

In [54]:
f217.dtypes

dtype('O')

In [64]:
f217.dtypes==object is bool

False

In [65]:
f2 = f217.dtypes==object
f2

True

In [68]:
isinstance(f2,bool)

True

In [19]:
f217

                         0
userid
100000000371  0.000000e+00
100000001445  2.556372e+06
100000001575  4.315213e+05
100000001737  7.359667e+03
100000001829  0.000000e+00
100000002241  2.038192e+06
100000004161  1.964882e+06
100000004855  0.000000e+00
100000006247  0.000000e+00
100000006327  0.000000e+00
100000007525  0.000000e+00
100000007955  0.000000e+00
100000008427  0.000000e+00
100000009049  1.649544e+06
100000009961  1.292495e+05
100000010157  4.941507e+05
100000012993  0.000000e+00
100000013089  9.836427e+05
100000013205  5.028425e+05
100000014191  2.404797e+05
100000014963  0.000000e+00
100000015077  0.000000e+00
100000015659  1.385291e+06
100000016411  0.000000e+00
100000016637  0.000000e+00
100000016715  6.171795e+05
100000016843  0.000000e+00
100000018131  4.942693e+05
100000019085  4.350000e+02
100000020599  0.000000e+00
...                    ...
114836469649  0.000000e+00
114836769847  0.000000e+00
114837269148  2.049850e+04
114837467946  0.000000e+00
114837667348  0.000000e+00
114837967745  0.000000e+00
114838267844  0.000000e+00
114838567145  3.313193e+06
114838653247  3.163188e+06
114838953445  5.871500e+04
114839269841  0.000000e+00
114839567347  0.000000e+00
114839567740  4.090017e+06
114839767841  3.096255e+06
114839867949  0.000000e+00
114860067248  0.000000e+00
114860267546  0.000000e+00
114860356941  0.000000e+00
114860867044  0.000000e+00
114862069841  0.000000e+00
114862167543  0.000000e+00
114862467547  0.000000e+00
114862853544  1.588418e+05
114862967444  0.000000e+00
114865067345  5.550000e+01
114865567949  0.000000e+00
114865667242  0.000000e+00
114865869149  0.000000e+00
114868867745  0.000000e+00
114869069841  2.595000e+02

[2686 rows x 1 columns]

In [ ]:
# feature["F2.172"] = f217

In [111]:
temp1 = order_info[order_info["orderType"].isin([1])]
# F2.17订单平均时间间隔
time_gap_max_1 = temp1.groupby("userid")["orderTime"].max()
time_gap_min_1 = temp1.groupby("userid")["orderTime"].min()
time_gap_max_1 = pd.DataFrame(time_gap_max_1)
time_gap_min_1 = pd.DataFrame(time_gap_min_1)
time_gap_1 = time_gap_max_1.merge(time_gap_min_1, on="userid", how="left")

In [112]:
time_gap_1.head()

                     orderTime_x         orderTime_y
userid
100000001023 2017-01-03 20:19:01 2017-01-03 20:19:01
100000001505 2017-05-18 13:36:06 2017-05-13 18:30:55
100000003461 2017-04-02 10:46:55 2017-04-02 10:46:55
100000005007 2016-12-02 14:45:04 2016-12-02 14:45:04
100000008119 2017-01-09 14:43:40 2017-01-09 14:43:40

In [113]:
time_gap_1.dtypes

orderTime_x    datetime64[ns]
orderTime_y    datetime64[ns]
dtype: object

In [114]:
f23 = pd.DataFrame(feature.loc[time_gap_1.index]["F2.3"])

In [110]:
f23

              F2.3
userid
100000001023     2
100000001505     4
100000003461     1
100000005007     1
100000008119     1
100000009017     2
100000009773     1
100000009925     2
100000010199     8
100000014029     1
100000015969     1
100000016265     4
100000017277     5
100000017465     1
100000019487     9
100000021553     1
100000022129     2
100000022335     1
100000022499     1
100000022801     4
110100016324     3
110100016726     1
110100033067     2
110100116423     1
110100273229     4
110100512625     1
110100633862     3
110100818564     2
110100818565     1
110101273620     2
...            ...
114829653346     1
114829750941     1
114831269641     1
114832067442     2
114832469649     1
114834167949     1
114834867748     4
114836069144    14
114836367240     1
114836469642     5
114836669142     1
114837169648     1
114837169649     2
114837967240     1
114837967949     1
114838367748     2
114838853241     6
114839067042     1
114839067143     1
114839267144     6
114839267840     1
114839867647     1
114839869144     2
114839967349     2
114862267148     1
114864169646    10
114864467347     1
114865267940     4
114869867143     1
114999280232     1

[1745 rows x 1 columns]

In [115]:
(time_gap_1["orderTime_x"] -time_gap_1["orderTime_y"]) / f23['F2.3']

userid
100000001023           0 days 00:00:00
100000001505    1 days 04:46:17.750000
100000003461           0 days 00:00:00
100000005007           0 days 00:00:00
100000008119           0 days 00:00:00
100000009017   30 days 01:18:12.500000
100000009773           0 days 00:00:00
100000009925    0 days 00:41:10.500000
100000010199   27 days 11:07:17.625000
100000014029           0 days 00:00:00
100000015969           0 days 00:00:00
100000016265   45 days 14:50:23.750000
100000017277   36 days 21:12:56.800000
100000017465           0 days 00:00:00
100000019487    0 days 01:19:29.222222
100000021553           0 days 00:00:00
100000022129           0 days 00:02:49
100000022335           0 days 00:00:00
100000022499           0 days 00:00:00
100000022801           0 days 00:15:08
110100016324    0 days 00:12:45.666666
110100016726           0 days 00:00:00
110100033067    0 days 13:06:36.500000
110100116423           0 days 00:00:00
110100273229           0 days 00:22:31
110100512625           0 days 00:00:00
110100633862    0 days 06:07:44.666666
110100818564           1 days 00:58:39
110100818565           0 days 00:00:00
110101273620    0 days 14:56:33.500000
                         ...
114829653346           0 days 00:00:00
114829750941           0 days 00:00:00
114831269641           0 days 00:00:00
114832067442   53 days 14:13:19.500000
114832469649           0 days 00:00:00
114834167949           0 days 00:00:00
114834867748    1 days 19:49:52.500000
114836069144    9 days 17:04:32.071428
114836367240           0 days 00:00:00
114836469642    3 days 06:25:06.600000
114836669142           0 days 00:00:00
114837169648           0 days 00:00:00
114837169649           1 days 03:00:05
114837967240           0 days 00:00:00
114837967949           0 days 00:00:00
114838367748          75 days 16:07:16
114838853241   41 days 05:35:07.666666
114839067042           0 days 00:00:00
114839067143           0 days 00:00:00
114839267144          13 days 04:38:47
114839267840           0 days 00:00:00
114839867647           0 days 00:00:00
114839869144          60 days 13:56:07
114839967349           0 days 04:59:05
114862267148           0 days 00:00:00
114864169646    1 days 16:36:17.200000
114864467347           0 days 00:00:00
114865267940    0 days 17:43:07.750000
114869867143           0 days 00:00:00
114999280232           0 days 00:00:00
Length: 1745, dtype: timedelta64[ns]

In [116]:
f218 = (time_gap_1["orderTime_x"] -
        time_gap_1["orderTime_y"]) / f23['F2.3']
f218 = pd.DataFrame(f218,columns=['f218'])
# f218[0] = f218[0].values / np.timedelta64(1, 'ns')
feature["F2.18"] = f218

# print(feature.head())

In [118]:
feature.head(16)

              F2.1  F2.2  F2.3                  F2.18
userid
100000000013     2     0     0                    NaT
100000000393     1     0     0                    NaT
100000000459     2     0     0                    NaT
100000000637     1     0     0                    NaT
100000000695     1     0     0                    NaT
100000000949     3     0     0                    NaT
100000000975     1     0     0                    NaT
100000001023     6     1     2        0 days 00:00:00
100000001231     1     0     0                    NaT
100000001295     1     0     0                    NaT
100000001505     5     1     4 1 days 04:46:17.750000
100000001955     3     0     0                    NaT
100000002371     4     0     0                    NaT
100000003097     1     0     0                    NaT
100000003461     1     1     1        0 days 00:00:00
100000003639     2     0     0                    NaT

In [119]:
f218.dtypes

f218    timedelta64[ns]
dtype: object

In [19]:
bf218=f218.dtypes==object
bf218

0    False
dtype: bool

In [20]:
(f218.dtypes==object).bool()

False

In [21]:
isinstance(bf218,bool)

False

In [120]:
f218

                                f218
userid
100000001023         0 days 00:00:00
100000001505  1 days 04:46:17.750000
100000003461         0 days 00:00:00
100000005007         0 days 00:00:00
100000008119         0 days 00:00:00
100000009017 30 days 01:18:12.500000
100000009773         0 days 00:00:00
100000009925  0 days 00:41:10.500000
100000010199 27 days 11:07:17.625000
100000014029         0 days 00:00:00
100000015969         0 days 00:00:00
100000016265 45 days 14:50:23.750000
100000017277 36 days 21:12:56.800000
100000017465         0 days 00:00:00
100000019487  0 days 01:19:29.222222
100000021553         0 days 00:00:00
100000022129         0 days 00:02:49
100000022335         0 days 00:00:00
100000022499         0 days 00:00:00
100000022801         0 days 00:15:08
110100016324  0 days 00:12:45.666666
110100016726         0 days 00:00:00
110100033067  0 days 13:06:36.500000
110100116423         0 days 00:00:00
110100273229         0 days 00:22:31
110100512625         0 days 00:00:00
110100633862  0 days 06:07:44.666666
110100818564         1 days 00:58:39
110100818565         0 days 00:00:00
110101273620  0 days 14:56:33.500000
...                              ...
114829653346         0 days 00:00:00
114829750941         0 days 00:00:00
114831269641         0 days 00:00:00
114832067442 53 days 14:13:19.500000
114832469649         0 days 00:00:00
114834167949         0 days 00:00:00
114834867748  1 days 19:49:52.500000
114836069144  9 days 17:04:32.071428
114836367240         0 days 00:00:00
114836469642  3 days 06:25:06.600000
114836669142         0 days 00:00:00
114837169648         0 days 00:00:00
114837169649         1 days 03:00:05
114837967240         0 days 00:00:00
114837967949         0 days 00:00:00
114838367748        75 days 16:07:16
114838853241 41 days 05:35:07.666666
114839067042         0 days 00:00:00
114839067143         0 days 00:00:00
114839267144        13 days 04:38:47
114839267840         0 days 00:00:00
114839867647         0 days 00:00:00
114839869144        60 days 13:56:07
114839967349         0 days 04:59:05
114862267148         0 days 00:00:00
114864169646  1 days 16:36:17.200000
114864467347         0 days 00:00:00
114865267940  0 days 17:43:07.750000
114869867143         0 days 00:00:00
114999280232         0 days 00:00:00

[1745 rows x 1 columns]

In [100]:
f218.columns

Index(['f218'], dtype='object')

In [77]:
ff218=f218.values

In [ ]:
ff218.

In [78]:
np.unique(ff218)

F:\Anaconda\lib\site-packages\numpy\lib\arraysetops.py:285: FutureWarning: In the future, NAT != NAT will be True rather than False.
  flag = np.concatenate(([True], aux[1:] != aux[:-1]))

array(['NaT'], dtype='timedelta64[ns]')

In [121]:
f218[0] = f218.values/np.timedelta64(1, 's')

In [124]:
f218[0]

userid
100000001023    0.000000e+00
100000001505    1.035778e+05
100000003461    0.000000e+00
100000005007    0.000000e+00
100000008119    0.000000e+00
100000009017    2.596692e+06
100000009773    0.000000e+00
100000009925    2.470500e+03
100000010199    2.372838e+06
100000014029    0.000000e+00
100000015969    0.000000e+00
100000016265    3.941424e+06
100000017277    3.186777e+06
100000017465    0.000000e+00
100000019487    4.769222e+03
100000021553    0.000000e+00
100000022129    1.690000e+02
100000022335    0.000000e+00
100000022499    0.000000e+00
100000022801    9.080000e+02
110100016324    7.656667e+02
110100016726    0.000000e+00
110100033067    4.719650e+04
110100116423    0.000000e+00
110100273229    1.351000e+03
110100512625    0.000000e+00
110100633862    2.206467e+04
110100818564    8.991900e+04
110100818565    0.000000e+00
110101273620    5.379350e+04
                    ...
114829653346    0.000000e+00
114829750941    0.000000e+00
114831269641    0.000000e+00
114832067442    4.630400e+06
114832469649    0.000000e+00
114834167949    0.000000e+00
114834867748    1.577925e+05
114836069144    8.390721e+05
114836367240    0.000000e+00
114836469642    2.823066e+05
114836669142    0.000000e+00
114837169648    0.000000e+00
114837169649    9.720500e+04
114837967240    0.000000e+00
114837967949    0.000000e+00
114838367748    6.538036e+06
114838853241    3.562508e+06
114839067042    0.000000e+00
114839067143    0.000000e+00
114839267144    1.139927e+06
114839267840    0.000000e+00
114839867647    0.000000e+00
114839869144    5.234167e+06
114839967349    1.794500e+04
114862267148    0.000000e+00
114864169646    1.461772e+05
114864467347    0.000000e+00
114865267940    6.378775e+04
114869867143    0.000000e+00
114999280232    0.000000e+00
Name: 0, Length: 1745, dtype: float64

In [123]:
feature.shape

(10637, 4)

In [125]:
feature['f218']=f218[0]
# NaT是在这个过程中，由于f218的id比较少，缺少的id对应的为nan，然后由nan转成了NaT

In [127]:
feature.head(16)

              F2.1  F2.2  F2.3                  F2.18       f218
userid
100000000013     2     0     0                    NaT        NaN
100000000393     1     0     0                    NaT        NaN
100000000459     2     0     0                    NaT        NaN
100000000637     1     0     0                    NaT        NaN
100000000695     1     0     0                    NaT        NaN
100000000949     3     0     0                    NaT        NaN
100000000975     1     0     0                    NaT        NaN
100000001023     6     1     2        0 days 00:00:00       0.00
100000001231     1     0     0                    NaT        NaN
100000001295     1     0     0                    NaT        NaN
100000001505     5     1     4 1 days 04:46:17.750000  103577.75
100000001955     3     0     0                    NaT        NaN
100000002371     4     0     0                    NaT        NaN
100000003097     1     0     0                    NaT        NaN
100000003461     1     1     1        0 days 00:00:00       0.00
100000003639     2     0     0                    NaT        NaN

In [128]:
f218

                                f218             0
userid
100000001023         0 days 00:00:00  0.000000e+00
100000001505  1 days 04:46:17.750000  1.035778e+05
100000003461         0 days 00:00:00  0.000000e+00
100000005007         0 days 00:00:00  0.000000e+00
100000008119         0 days 00:00:00  0.000000e+00
100000009017 30 days 01:18:12.500000  2.596692e+06
100000009773         0 days 00:00:00  0.000000e+00
100000009925  0 days 00:41:10.500000  2.470500e+03
100000010199 27 days 11:07:17.625000  2.372838e+06
100000014029         0 days 00:00:00  0.000000e+00
100000015969         0 days 00:00:00  0.000000e+00
100000016265 45 days 14:50:23.750000  3.941424e+06
100000017277 36 days 21:12:56.800000  3.186777e+06
100000017465         0 days 00:00:00  0.000000e+00
100000019487  0 days 01:19:29.222222  4.769222e+03
100000021553         0 days 00:00:00  0.000000e+00
100000022129         0 days 00:02:49  1.690000e+02
100000022335         0 days 00:00:00  0.000000e+00
100000022499         0 days 00:00:00  0.000000e+00
100000022801         0 days 00:15:08  9.080000e+02
110100016324  0 days 00:12:45.666666  7.656667e+02
110100016726         0 days 00:00:00  0.000000e+00
110100033067  0 days 13:06:36.500000  4.719650e+04
110100116423         0 days 00:00:00  0.000000e+00
110100273229         0 days 00:22:31  1.351000e+03
110100512625         0 days 00:00:00  0.000000e+00
110100633862  0 days 06:07:44.666666  2.206467e+04
110100818564         1 days 00:58:39  8.991900e+04
110100818565         0 days 00:00:00  0.000000e+00
110101273620  0 days 14:56:33.500000  5.379350e+04
...                              ...           ...
114829653346         0 days 00:00:00  0.000000e+00
114829750941         0 days 00:00:00  0.000000e+00
114831269641         0 days 00:00:00  0.000000e+00
114832067442 53 days 14:13:19.500000  4.630400e+06
114832469649         0 days 00:00:00  0.000000e+00
114834167949         0 days 00:00:00  0.000000e+00
114834867748  1 days 19:49:52.500000  1.577925e+05
114836069144  9 days 17:04:32.071428  8.390721e+05
114836367240         0 days 00:00:00  0.000000e+00
114836469642  3 days 06:25:06.600000  2.823066e+05
114836669142         0 days 00:00:00  0.000000e+00
114837169648         0 days 00:00:00  0.000000e+00
114837169649         1 days 03:00:05  9.720500e+04
114837967240         0 days 00:00:00  0.000000e+00
114837967949         0 days 00:00:00  0.000000e+00
114838367748        75 days 16:07:16  6.538036e+06
114838853241 41 days 05:35:07.666666  3.562508e+06
114839067042         0 days 00:00:00  0.000000e+00
114839067143         0 days 00:00:00  0.000000e+00
114839267144        13 days 04:38:47  1.139927e+06
114839267840         0 days 00:00:00  0.000000e+00
114839867647         0 days 00:00:00  0.000000e+00
114839869144        60 days 13:56:07  5.234167e+06
114839967349         0 days 04:59:05  1.794500e+04
114862267148         0 days 00:00:00  0.000000e+00
114864169646  1 days 16:36:17.200000  1.461772e+05
114864467347         0 days 00:00:00  0.000000e+00
114865267940  0 days 17:43:07.750000  6.378775e+04
114869867143         0 days 00:00:00  0.000000e+00
114999280232         0 days 00:00:00  0.000000e+00

[1745 rows x 2 columns]